<h1>Articles table</h1>

<table>
    <thead>
        <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    <% @articles.each do |arti|%>
    <tr>
        <td><%= arti.title %></td>
        <td><%= arti.description%></td>
        <td>placeholder </td>
    </tr>
    <% end %>
    </tbody>



</table>